<style type="text/css">
    #header { width:100%; background-color:#CCCCCC; text-align:center;}
    #indextable{border:0px;width:100%; text-align:center;}
    #indextable td.col1{width:20%;vertical-align:top;}
    #indextable td.col2{width:60%;vertical-align:top;background-color:#E8E8E8;}
    #indextable td.col3{width:20%;vertical-align:top;}
</style>