
html {min-width: 776px; }
body {background: #6D89DD; font-family: arial;}

#report {border:10px;width:100%;text-align:left;background-color:#0080FF;}
#report tr.title{vertical-align:center;background-color:#FFE880;}
#report tr.header{vertical-align:center;background-color:#20C080;}
#report tr.data{vertical-align:center;background-color:#20E880;}
#report td.col1{width:10%;}
#report td.col2{width:20%;vertical-align:top;}
#report td.col3{width:70%;}

#indextable {border:10px;width:100%;text-align:left;background-color:#0080FF;}
#indextable tr.header{vertical-align:center;background-color:#20A0FF;}
#indextable tr.data{vertical-align:center;background-color:#20E8FF;}
#indextable td.col1{width:10%}
#indextable td.col2{width:20%;vertical-align:top;}
#indextable td.col3{widtg:70%}

#dqitable {border:10px;width:100%;text-align:left;background-color:#0080FF;}
#dqitable tr.group{vertical-align:center;background-color:#80A08F;}
#dqitable tr.header{vertical-align:center;background-color:#80A08F;}
#dqitable tr.data{vertical-align:center;background-color:#80E88F;}
#dqitable td.col1{width:5%;}
#dqitable td.col2{width:5%;text-align:right;}
#dqitable td.col3{width:90%;}
